.search {
    position: relative;
    height: 30px;
    text-align: left;
    float: right;
    width: 400px;
    left: 30px;
}
.search>.search-input {
    position:absolute ;
    float: right;
    width: 200px;
    height: 30px;
    margin-left:10px;    
    top:15px;    
    border: 3px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

.search>.search-icon {
    position: absolute;
    top: 15px;
    left: 210px;
    float: right;
    height: 30px;
    cursor: pointer;
    margin-left: 5px;
    background-color: rgb(232, 233, 230);
    border-radius: 8px;
}
.search>.search-clear {
    display: none;
}

.search>.search-icon:hover{
    background-color: rgb(107, 109, 105);
    color: #ffffff;
}


.search>.search-results {
    display: none;
    z-index: 100;
    position: absolute;
    top: 50px;
    left: 10px;
    width: 90%;
    max-height: 400px;
    text-align: left;
    border-radius: 8px;
    background: #ccc;
    box-shadow: 0 .3rem .5rem #333;
    overflow: scroll;
}

.search>.search-results>.result-item {
    background: rgb(0, 255, 255);
    color: #000;
    margin: 7px;
    padding: 3px;
    border-radius: 8px;
    cursor: pointer;
}
mark{
background-color: yellow;    
}
