---
layout: page
title: "我的主页"
---
<!--主页-->
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        <!--只显示博客前100个字符，并删除所有html标签-->
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:100 }}
        </div>
    </a>
    <p class="post-meta">{% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} 写于 {{ post.date | date: "%Y-%m-%d" }}</p>
</div>

<hr>
{% endfor %}

<!-- 如果文章超过paginate最大值，需要翻页-->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" target="_self">&larr;前一页</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" target="_self"> &rarr;后一页</a>
    </li>
    {% endif %}
</ul>
{% endif %}
