 .c{margin:1px;
     width:19.5px; 
     height:19.5px;
      background:red;
       position:absolute;
    }
 .d{margin:1px;
    width:19px; 
    height:19px; 
    background:gray;
     position:absolute;
    }
 .f{ background:black; 
     position:absolute;
     top:20px;
     left:400px;
     width: 200px;
     height: 400px;
    }
 .e{top:20px; 
    float: left;
    left:600px;
    width: 100px;
    height: 400px;
    background:#151515;
     position:absolute;
    }
 .g{width:100px; 
    height:20px;
     color:white; 
     position:absolute;
     top: 220px;
     left: 620px;
    }
   .sm{
   width:300px;
   top:420px;
   left: 400px;
   position: absolute;
   font-size: 14px;
    }
 #bt{
top:500px;
left: 480px;
position: absolute;
border-radius: 10px;
background-color: rgb(29, 243, 22);
    }
  #purse{
top:500px;
left: 570px;
position: absolute;
border-radius: 10px;
background-color:rgb(246, 21, 21);
    }   
