<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <!--显示相关信息 -->
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }} " style="color:blue">
                            订阅RSSI
                            <img src="/img/rssi.PNG" alt="Rssi">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/wulongmiao" style="color:blue">
                            博主的Github
                           <img src="/img/github.jpg" alt="Github">
                        </a>
                    </li>     
                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.time | date: '%Y' }} {{ site.title }} ❖代码托管在<a href="https://github.com/">Github</a>.
                </p>
            </div>
        </div>
    </div>
</footer>

<!--jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>


