<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <!--显示相关信息 -->
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }} " style="color:rgb(42, 116, 235)">
                            订阅
                            <img src="/img/rssi.PNG" alt="Rssi">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/wulongmiao" style="color:rgb(42, 116, 235)">
                           Github
                           <img src="/img/github.jpg" alt="Github">
                        </a>
                    </li>     
                </ul>
                <p class="copyright text-muted">
                    博主邮箱: <wlm19990611@gmail class="com">wlm19990611@gmail.com</wlm19990611@gmail>.
                    <br/>
                    Copyright &copy; {{ site.time | date: '%Y' }} 吴龙淼 ❖代码托管在<a href="https://github.com/">Github</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
<!--动态线条背景-->
<script type="text/javascript" color='40,236,236' pointColor="245,241,9" opacity='1' zIndex="-2" count="300" src="/js/canvas-nest.js"></script>

<!--jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
<!--搜索-->
<script src="{{ "/js/search.js " | prepend: site.baseurl }}" ></script>
