<!--header -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!--响应式布局：适应小屏幕 -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/" target="_self" style="font-size: 30px">{{ site.title }}</a>
            <div class="search">
                <input type="text" class="search-input search-start" placeholder="站内搜索,请输入内容" />
                <p class="material-icons search-icon search-clear">清空</p>
                <div class="search-results"></div>
            </div>
        </div>

        <!--导航菜单栏 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% for page in site.pages %}
                {% if page.title %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}" target="_self">{{ page.title }}</a>
                </li>
                {% endif %}{% endfor %}
            </ul>
        </div>

    </div>
</nav>
