---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <div id="up">
                    </div>
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!--回到顶部-->
<div id="back-top">
    <a href="#top" title="回到顶部" target="_self"></a>
  </div>
<!--回到底部-->
  <div id="back-down">
    <a href="#down" title="回到底部" target="_self"></a>
  </div>
  
<link rel="stylesheet" href="/css/backtop.css">  <!-- Back Top  down-->

<!--Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ content }}
		</div>
	</div>
</div>
<hr>
<div id="comments" ></div>
<div id="down">
</div>
<!--评论-->
    <script src='/js/commet.js'></script>

    <script>
        new Valine({
            el: '#comments',
            appId: '898Tv5PNyJ7zvpU7FfCjWGiv-gzGzoHsz',
            appKey: 'nuBLLipj4Mq2U9G2dCmPLJSR'
        })
    </script>
