---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image:url('/img/zhihu.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="Tags">
                        <div id="up">
                        </div>
                        <br/>
                        {% for tag in page.tags %}
                        <!--跳到标签相关页面-->
                        <a class="tag" href="/页面/标签目录.html#{{ tag }}" title="{{ tag }}" style="color:azure; background-color:#000;-webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px;  margin:5px;padding:5px; ">{{ tag }}</a> 
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} 写于 {{page.date | date: "%Y-%m-%d" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!--回到顶部-->

<div id="back-top">
    <a href="#top" title="回到顶部" target="_self"></a>
</div>
<!--回到底部-->
  <div id="back-down">
    <a href="#down" title="回到底部" target="_self"></a>
</div>
  
<!-- Post Content -->
<article>
<div class="container">
 <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

     {{ content }} 
      <hr>
    <!--翻页-->
     <ul class="pager">
    {% if page.previous.url %}
    <li class="previous">
     <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}" target="_self">&larr;上一篇</a>
     </li>
     {% endif %}
    {% if page.next.url %}
     <li class="next">
     <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}  " data-toggle="tooltip" data-placement="top" title="{{page.next.title}}" target="_self"> &rarr;下一篇</a>
     </li>
     {% endif %}
     </ul>
</div>
 </div>

 <div id="comments" ></div>
 <div id="down"></div>
</article>

    <!--评论-->
     <script src='/js/commet.js'></script>

    <script>
        new Valine({
            el: '#comments',
            appId: '898Tv5PNyJ7zvpU7FfCjWGiv-gzGzoHsz',
            appKey: 'nuBLLipj4Mq2U9G2dCmPLJSR'
        })
    </script>
